/* ========
 common
======== */
.about-me-conteiner,
.works-conteiner,
.skills-conteiner,
.career-history-container,
.contact-container,
footer {
  position: relative;
  z-index: 1;
}

/* ========
 header
======== */
header section {
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}
header {
  position: relative;
  z-index: 100;
  mix-blend-mode: difference;
}
header h1.MuiTypography-h1 {
  font-weight: bold;
  color: #fff;
  font-size: 8rem;
}
@media screen and (max-width: 1050px) {
  header h1.MuiTypography-h1 {
    font-size: 7.5rem;
  }
}
@media screen and (max-width: 744px) {
  header h1.MuiTypography-h1 {
    font-size: 5rem;
  }
}
@media screen and (max-width: 455px) {
  header h1.MuiTypography-h1 {
    font-size: 4rem;
  }
}

header.header-fixed {
  mix-blend-mode: initial;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.28);
}

header.header-fixed h1.MuiTypography-h1 {
  font-size: 1.5rem;
  color: var(--text-black);
  margin-bottom: 0;
}

header.header-fixed section {
  justify-content: space-between;
  margin: 0.7rem 1.5rem;
}

button.menu-button {
  min-width: auto;
  padding: 0;
  font-size: 1.5rem;
}

/* ========
 lp-contents
=========  */

/* fitst-view */
.fitst-view {
  color: #fff;
  background-image: var(--base-color);
  margin-left: 30px;
  max-width: 600px;
  height: calc(100vh - 151px);
  height: calc(100dvh - 151px);
}
h2.MuiTypography-h2 {
  font-weight: bold;
  margin-bottom: 0;
  display: inline-block;
  font-size: 3.2rem;
}
@media screen and (max-width: 744px) {
  .fitst-view {
    max-width: 400px;
    height: calc(100vh - 121px);
    height: calc(100dvh - 121px);
  }
  h2.MuiTypography-h2 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 550px) {
  .fitst-view {
    max-width: 300px;
  }
  h2.MuiTypography-h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 455px) {
  .fitst-view {
    height: calc(100vh - 97px);
    height: calc(100dvh - 97px);
  }
}
@media screen and (max-width: 400px) {
  .fitst-view {
    max-width: 250px;
    margin-left: 10px;
  }
  h2.MuiTypography-h2 {
    font-size: 1.6rem;
  }
}
/* about me */
.about-me-box {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.about-me-contents {
  background-color: var(--background-white);
  position: relative;
  max-width: 569px;
  padding: 50px 50px 235px 50px;
  margin: 75px 20px 0;
}
@media screen and (max-width: 730px) {
  .about-me-contents {
    font-size: 7.5rem;
    padding: 35px 30px 235px 30px;
  }
}
@media screen and (max-width: 500px) {
  .about-me-contents {
    padding: 35px 30px 155px 30px;
  }
}

.about-me-contents::before,
.about-me-contents::after {
  content: "";
  position: absolute;
}

.about-me-contents::before {
  height: 100px;
  z-index: -1;
  background-image: var(--primary-color);
  bottom: 100px;
  left: calc(50% - 50vw);
  width: 50vw;
}

.about-me-contents::after {
  z-index: -2;
  background-image: var(--base-color);
  top: -55px;
  left: calc(50% - 50vw + 46vw);
  width: 54vw;
  height: 250px;
}

.my-photo {
  width: 200px;
  position: absolute;
}
@media screen and (max-width: 500px) {
  .my-photo {
    width: 130px;
  }
}

/* works */

.works-contents {
  text-align: center;
  background-image: var(--primary-color);
  padding: var(--conteriner-padding);
}

.works-img-wrap {
  min-width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.works-imges {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
}

.works-imges a {
  padding: 10px;
}

.works-imges img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  object-position: top;
}

/* skils */

.skills-conteiner {
  text-align: center;
  padding: var(--conteriner-padding);
  background-color: #fff;
}

.skils-contents {
  text-align: center;
  background-color: var(--background-white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
}

.skills {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem 0;
  max-width: 900px;
}

.skill-icon {
  height: 60px;
  margin: 10px;
}

/* career-history */

.career-history-contents {
  text-align: center;
  background-image: var(--base-color);
  padding: var(--conteriner-padding);
}

.career-history-contents {
  text-align: center;
  background-image: var(--base-color);
  padding: var(--conteriner-padding);
  display: flex;
  justify-content: center;
}

/* contacts */
.contact-contents {
  text-align: center;
  padding: var(--conteriner-padding);
  display: flex;
  justify-content: center;
}

.contact-contents-inner > *:not(:first-child):not(:last-child) {
  margin: 30px;
}

.contact-icons svg {
  height: 60px;
  margin: 10px;
}

.or-style {
  display: flex;
  align-items: center;
}

.or-style:before,
.or-style:after {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: #666;
}

.or-style:before {
  margin-right: 1rem;
}

.or-style:after {
  margin-left: 1rem;
}

/* button */
.contact-contents button.cta-button {
  font-size: 1.3rem;
  padding: 0.6rem 3.5rem;
  background-image: var(--secondary-color);
  text-shadow: 0px 0px 7px rgb(130 63 0), 0px 0px 7px rgb(158 76 0);
}

/* ======
footer
====== */

footer {
  text-align: center;
  padding: 1rem;
  background-color: #494949;
  color: #fff;
}

/* ======
close-header
====== */
div.close-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem;
}
.close-header svg {
  font-size: 2rem;
}

/* ======
work-page
====== */
.work-background {
  background-color: #ededed;
}
.work-contents-wraper {
  background-color: #fff;
}
img.image-gallery-image,
img.image-gallery-thumbnail-image {
  border: 1px solid #d2d2d2;
}
.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
  outline: none;
  border: 4px solid #75bfff;
}
.work-list li {
  margin-bottom: 0.6rem;
}
