/* ========
 header
======== */
header section {
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}
header {
  position: relative;
  z-index: 100;
  mix-blend-mode: difference;
}
header h1.MuiTypography-h1 {
  mix-blend-mode: difference;
  font-weight: bold;
  color: #fff;
}

/* ========
 lp-contents
=========  */

/* fitst-view */
.fitst-view {
  color: #fff;
  background-image: var(--primary-color);
  margin-left: 30px;
}

/* about me */
.about-me-box {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.about-me-contents {
  background-color: var(--background-white);
  position: relative;
  max-width: 569px;
  padding: 50px;
  padding-bottom: 235px;
  margin-top: 75px;
}

.about-me-contents::before,
.about-me-contents::after {
  content: "";
  position: absolute;
}

.about-me-contents::before {
  height: 100px;
  z-index: -1;
  background-image: var(--secondary-color);
  bottom: 20px;
  left: calc(50% - 50vw);
  transform: translateY(-50%);
  width: 50vw;
}

.about-me-contents::after {
  z-index: -2;
  background-image: var(--primary-color);
  top: -55px;
  left: calc(50% - 50vw + 46vw);
  width: 54vw;
  height: 250px;
}

.my-photo {
  width: 200px;
  position: absolute;
}

/* works */

.works-contents {
  text-align: center;
  background-image: var(--secondary-color);
  padding: 40px 0;
}

.works-img-wrap {
  min-width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.works-imges {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
}

.works-imges div {
  padding: 10px;
}

.works-imges img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  object-position: top;
}

/* skils */

.skills-conteiner {
  text-align: center;
  padding: 40px 0;
}

.skils-contents {
  text-align: center;
  background-color: var(--background-white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
}

/* .skils-background {
  background-image: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 24px 0;
} */

.skills {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem 0;
  max-width: 900px;
}

.skill-icon {
  height: 60px;
  margin: 10px;
}

/* career-history */

.career-history-contents {
  text-align: center;
  background-image: var(--primary-color);
  padding: 40px 0;
}

.career-history-contents {
  text-align: center;
  background-image: var(--primary-color);
  padding: 40px 0;
  display: flex;
  justify-content: center;
}
