/* birds */
.birds-wrap {
  position: fixed;
  top: 0;
}

.no-padding-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.m-1rem {
  margin: 1rem 0;
}

/* Work page  */
.work-contents {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (max-width: 800px) {
  .work-article section.work-contents {
    flex-direction: column;
    margin-top: 2rem;
  }
  .work-contents .work-imgs-container,
  .work-contents .work-description {
    width: 100%;
    max-width: 100%;
  }
  .work-contents .work-description {
    margin-top: 3rem;
  }
}

.work-introduction {
  text-align: center;
}

section.work-contents {
  margin-top: 4rem;
  padding-bottom: 4rem;
}

.work-imgs-container {
  width: 70%;
  max-width: 745px;
}
.work-description {
  width: 30%;
}
button.image-gallery-thumbnail.work-thumbnail-img-sp {
  width: 60%;
}
.image-gallery-thumbnails .image-gallery-thumbnails-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* React Image Gallery */
article
  .image-gallery-content
  .image-gallery-slide.work-img
  .image-gallery-image {
  max-width: 600px;
  max-height: fit-content;
}
article
  .image-gallery-content
  .image-gallery-slide.work-img-sp
  .image-gallery-image {
  max-width: 300px;
  max-height: fit-content;
}

/* change display fot device */

@media screen and (max-width: 743px) {
  .only-bigger-sp {
    display: none !important;
  }
}
@media screen and (min-width: 744px) {
  .only-sp {
    display: none !important;
  }
}
